@import url('https://fonts.googleapis.com/css2?family=Anek+Latin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');



body{
    background: #191919;
    margin: 0;
    overflow: overlay;
}

header{
    display: flex;
}

.logo{
    font-family: 'Anek Latin', sans-serif;
    color: #B0FF4D;
    font-size: 25px;
    text-align: left;
    width: 10px;
    padding: 25px 5%;
}

a{
    text-decoration: none;
}

nav>*{
    font-size: 20px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    height: fit-content;
}

nav{
    display: flex;
    justify-content: space-around;
    width: 60%;
    position: absolute;
    left: 20%;
    top: 45px
}

.contact{
    color: #191919;
    background-color: #B0FF4D;
    border-radius: 50px;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    height: 40px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 20px 2px #afff4d46;
    position: absolute;
    right: 5%;
    top: 35px;
}

.chosen{
    color: #B0FF4D;
    text-decoration: underline;
    text-underline-offset: 5px;
}

@media screen and (max-width: 650px) {
    .page { display: none; } 
}

h1{
    color: #B0FF4D;
    font-family: 'Anek Latin', sans-serif;
    width: 350px;
    letter-spacing: 3px;
    font-size: 40px;
}

.firstP{
    color: #515151;
    font-family: 'Anek Latin', sans-serif;
    letter-spacing: 1px;
    margin-bottom: 30px;
}

.more{
    color: #191919;
    background-color: #B0FF4D;
    border-radius: 50px;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    height: 40px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.people{
    width: auto;
    height: 200px;
    position: relative;
    left: 400px;
    bottom: 180px
}

.firstBOX{
    padding: 65px 15% 0;
}

.circle1{
    background-color: #C4C4C4;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #C4C4C4;
    font-weight: 100;
}

h2{
    color: white;
    font-family: 'Anek Latin', sans-serif;
    letter-spacing: 1px;
    font-size: 30px;
    font-weight: 100;
    width: 430px;
    line-height: 38px;
}

.secondBOX{
    position: absolute;
    right: 15%;
}

.secondP{
    color: #515151;
    font-family: 'Anek Latin', sans-serif;
    letter-spacing: 1px;
    margin-bottom: 30px;
    width: 340px;
    line-height: 22px;
}

.phone{
    width: auto;
    height: 327px;
    position: absolute;
    right: 65%;
}

@media screen and (max-width: 1000px) {
    .phone { display: none; } 
}

::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-thumb{
    background: #ebebeb46;
    border-radius: 10px;
    border: 1px solid rgba(199, 199, 199, 0.764)
}

::-webkit-scrollbar-thumb:hover{
    background: #ebebeb85;
}


/*

position: absolute;
top: 588px;
left: 16px

*/